@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  background-color: #F3F3F3;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4D4D4D;
}

html, body{
  height: 100%;
}

header{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}